@use "../base/variables" as v;
@use "../base/mixins" as mx;

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: v.$gris_claro;
}

.header__logo {
  max-width: 90px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation-wrapper {
  display: flex;
  width: 100%;
  z-index: 10;

  @include mx.tablet-pequena {
    width: auto;
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.header__list-item {
  display: flex;
  padding: 30px 0 50px;
  margin-bottom: -20px;
  gap: 8px;
  font-size: 16px;
}

.header__list-item > a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.4s;
}

.header__list-item > a svg path {
  transition: 0.4s;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 295px;
  padding-left: 0;
}

.header__burger {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  width: 24px;
  margin-left: auto;
}

.header__burger i {
  width: 100%;
  height: 2px;
  background-color: v.$negro;
  border-radius: 13px;
  transition: 0.4s;
}

.header__burger.active i:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.header__burger.active i:nth-child(2) {
  opacity: 0;
}

.header__burger.active i:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

@media (hover: hover) and (pointer: fine) {
  .header__list-item:hover > a,
  .header__list-item:hover > a svg path {
    color: var(--color-primary);
    fill: var(--color-primary);
  }
}

@media screen and (max-width: 1280px) {
  .submenu-list {
    max-width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 64px;
    padding: 0 20px;
  }

  .header__burger {
    display: flex;
  }

  .header__navigation-wrapper {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 110%;
    left: 0;
    padding: 20px;
    background-color: rgb(221, 255, 210);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }

  .header__navigation-wrapper.open {
    opacity: 1;
    visibility: visible;
  }

  .header__list {
    flex-direction: column;
    gap: 30px;
  }

  .header__navigation,
  .header__list {
    width: 100%;
  }

  .header__list-item {
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 0;
    margin: 0;

    a {
      &:hover {
        background-color: v.$color_secundario;
      }
    }
  }

  .header__list-item.active a,
  .header__list-item.active a > svg path {
    fill: red;
    color: red;
  }

  .submenu-list {
    width: 100%;
    max-width: 100%;
    gap: 5px;
  }
}
