@use "../base/_variables.scss" as v;
@use "../base/mixins" as mx;

.header__nosotros {
  @include mx.imgFondo("../../../public/img/nosotros.jpg");
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mx.telefono-mediano {
    flex-direction: row-reverse;
    gap: 5rem;
    margin: 5rem 0;
  }

  &__info {
    flex: 1;

    h4 {
      text-align: left;
      margin-top: 2rem;
    }
  }

  &__img {
    flex: 1;
    width: 25rem;
    img {
      border-radius: 2rem;
    }
  }

  &__info--item {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;

    .item__img {
      width: 6rem;
      height: 6rem;
      background-color: v.$color_terciario;
      border-radius: 50%;
      padding: 1rem;
    }
  }
}

.valores {
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
  gap: 5rem;

  @include mx.telefono-grande {
    flex-direction: row;
  }

  &__mision {
    background-color: v.$color_secundario;
  }
  &__vision {
    background-color: v.$color_terciario;
  }
  &__mision,
  &__vision {
    flex: 1;
    border-radius: 2rem;

    &--img {
      width: 80%;
      background-color: v.$blanco;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 2rem;
      img {
        width: 40rem;
        margin: 0 auto;
        border-radius: 1rem;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 75rem;

      h2 {
        margin: 0;
        color: v.$blanco;
      }
    }
  }
}
.separador {
  background-color: v.$color_primario;
  padding: 1rem 0 5rem 0;
  margin-top: 5rem;
  &__contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;

    
    @include mx.telefono-mediano {
      margin-top: 0rem;
    }

    h2 {
      color: v.$blanco;
    }
  }
}
