// @import url("https://use.typekit.net/bnv5cmf.css");

//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

$fuente_principal: 'Open Sans', sans-serif;;

//Tamaño de media queries
$telefono_pequeno: 480px;
$telefono_mediano: 600px;
$telefono_grande: 765px;
$tablet_pequena: 1024px;
$tablet_grande: 1280px;
$desktop_mediana: 1366px;
$desktop_grande: 1920px;

//colores
$negro: #000000;
$blanco: #ffffff;

$gris_claro: #f5f5f5;
$gris_oscuro: #ececec;
$color_primario: #bfe35a;
$color_secundario: #47e5dd;
$color_terciario: #a881ec;

$tr: all 0.1s ease 0s;
